// Theme variables (light/dark)
:root {
  --background: #ffffff;
  --text-color: #0f1419;
  --sidebar-bg: #f2f3f3;
  --sidebar-text: #0f1419;
  --border-color: #eff3f4;
  --sidebar-hover-bg: #e8e8e8;
  --sidebar-active-text: #0f1419;
  --primary-color: #1d9bf0;
  --primary-color-hover: #1a8cd8;
  --primary-button-text: #ffffff;
  --scrollbar-thumb-color: #c1c9d1;
  --scrollbar-track-color: transparent;
  --section-bg: var(--sidebar-bg);
  --section-hover-bg: var(--sidebar-hover-bg);
  --secondary-text-color: #536471;
  --search-bg: var(--sidebar-bg);
  --search-border-focus: var(--sidebar-hover-bg);
  --follow-button-bg: #0f1419;
  --follow-button-text: #ffffff;
  --follow-button-hover-bg: #272c30;
  --follow-button-border: var(--follow-button-bg);
  --success-color: #34a853;
  --success-bg: #e6f4ea;
  --error-color: #d93025;
  --error-bg: #fce8e6;
  --input-bg: #ffffff;
  --logout-button-bg: transparent;
  --logout-button-text: var(--secondary-text-color);
  --logout-button-border: var(--secondary-text-color);
  --logout-button-hover-bg: var(--sidebar-hover-bg);
  --logout-button-hover-border: var(--secondary-text-color);

  // Dark theme overrides
  &[data-theme="dark"] {
    --background: #000000;
    --text-color: #ffffff;
    --sidebar-bg: #000000;
    --sidebar-text: #e7e9ea;
    --border-color: #2f3336;
    --sidebar-hover-bg: #181818;
    --sidebar-active-text: #e7e9ea;
    --primary-color: #1d9bf0;
    --primary-color-hover: #1a8cd8;
    --primary-button-text: #ffffff;
    --scrollbar-thumb-color: #3e4444;
    --scrollbar-track-color: transparent;
    --section-bg: var(--sidebar-bg);
    --section-hover-bg: var(--sidebar-hover-bg);
    --secondary-text-color: #6e767d;
    --search-bg: #202327;
    --search-border-focus: var(--primary-color);
    --follow-button-bg: #eff3f4;
    --follow-button-text: #0f1419;
    --follow-button-hover-bg: #d7dbde;
    --follow-button-border: var(--follow-button-bg);
    --error-color: #f28b82;
    --error-bg: #692620;
    --input-bg: #202327;
    --logout-button-bg: transparent;
    --logout-button-text: var(--secondary-text-color);
    --logout-button-border: var(--border-color);
    --logout-button-hover-bg: var(--sidebar-hover-bg);
    --logout-button-hover-border: var(--secondary-text-color);
  }
}

// Sidebar widths
$left-sidebar-width: 250px;
$right-sidebar-width: 350px;
